In [1]:
# Dependencies
import pandas as pd

In [2]:
# List of file names to be combined 
data_2023 = ['Resources\JC-202306-citibike-tripdata.csv', 'Resources\JC-202307-citibike-tripdata.csv', 'Resources\JC-202308-citibike-tripdata.csv', 'Resources\JC-202309-citibike-tripdata.csv', 'Resources\JC-202310-citibike-tripdata.csv', 'Resources\JC-202311-citibike-tripdata.csv']

# Create an empty list to store each dataframe
df23_list = []

# Loop through each file in the list
for file in data_2023:
    # Read the file into a dataframe
    df23 = pd.read_csv(file)

    # Append the dataframe to the list
    df23_list.append(df23)

# Concatenate all dataframes in the list into one dataframe
df23 = pd.concat(df23_list)

# Show dataframe
df23

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75641,EE6CF90DF3984253,classic_bike,2023-11-22 16:20:23,2023-11-22 16:26:38,Glenwood Ave,JC094,Bergen Ave & Sip Ave,JC109,40.727551,-74.071061,40.731009,-74.064437,member
75642,DB574978E7FABC08,classic_bike,2023-11-21 07:01:57,2023-11-21 07:06:14,Glenwood Ave,JC094,Bergen Ave & Sip Ave,JC109,40.727551,-74.071061,40.731009,-74.064437,member
75643,E8E26D6A35E922FA,classic_bike,2023-11-14 07:51:51,2023-11-14 08:04:20,Glenwood Ave,JC094,Montgomery St,JC099,40.727755,-74.071096,40.719420,-74.050990,member
75644,0D6ECB6E18E32C63,classic_bike,2023-11-17 08:15:06,2023-11-17 08:26:57,Glenwood Ave,JC094,Montgomery St,JC099,40.727624,-74.071103,40.719420,-74.050990,member
75645,817DBC6302EDF681,classic_bike,2023-11-16 10:55:31,2023-11-16 11:03:47,Glenwood Ave,JC094,Hilltop,JC019,40.727551,-74.071061,40.731169,-74.057574,member