In [7]:
# Dependencies
import pandas as pd

In [8]:
# List of file names to be combined 
data_2023 = ['Resources\JC-202309-citibike-tripdata.csv', 'Resources\JC-202310-citibike-tripdata.csv', 'Resources\JC-202311-citibike-tripdata.csv']

# Create an empty list to store each dataframe
df23_list = []

# Loop through each file in the list
for file in data_2023:
    # Read the file into a dataframe
    df23 = pd.read_csv(file)

    # Append the dataframe to the list
    df23_list.append(df23)

# Concatenate all dataframes in the list into one dataframe
df23 = pd.concat(df23_list)

# Show dataframe
df23

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4052081EAF41D252,classic_bike,2023-09-01 17:25:27,2023-09-01 17:31:13,Baldwin at Montgomery,JC020,Liberty Light Rail,JC052,40.723484,-74.064445,40.711242,-74.055701,member
1,330043C418DD78E3,classic_bike,2023-09-01 12:57:39,2023-09-01 13:08:50,Baldwin at Montgomery,JC020,Exchange Pl,JC116,40.723503,-74.064276,40.716366,-74.034344,casual
2,4D0F3462818482CF,classic_bike,2023-09-28 08:52:24,2023-09-28 09:15:37,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723508,-74.064379,40.723659,-74.064194,member
3,BF4A3EBF9352E283,classic_bike,2023-09-02 15:25:33,2023-09-02 15:57:11,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723659,-74.064194,40.723659,-74.064194,casual
4,957FA73CA6E0C552,classic_bike,2023-09-14 16:46:42,2023-09-14 17:01:18,Baldwin at Montgomery,JC020,Paulus Hook,JC002,40.723659,-74.064194,40.714145,-74.033552,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75641,EE6CF90DF3984253,classic_bike,2023-11-22 16:20:23,2023-11-22 16:26:38,Glenwood Ave,JC094,Bergen Ave & Sip Ave,JC109,40.727551,-74.071061,40.731009,-74.064437,member
75642,DB574978E7FABC08,classic_bike,2023-11-21 07:01:57,2023-11-21 07:06:14,Glenwood Ave,JC094,Bergen Ave & Sip Ave,JC109,40.727551,-74.071061,40.731009,-74.064437,member
75643,E8E26D6A35E922FA,classic_bike,2023-11-14 07:51:51,2023-11-14 08:04:20,Glenwood Ave,JC094,Montgomery St,JC099,40.727755,-74.071096,40.719420,-74.050990,member
75644,0D6ECB6E18E32C63,classic_bike,2023-11-17 08:15:06,2023-11-17 08:26:57,Glenwood Ave,JC094,Montgomery St,JC099,40.727624,-74.071103,40.719420,-74.050990,member
75645,817DBC6302EDF681,classic_bike,2023-11-16 10:55:31,2023-11-16 11:03:47,Glenwood Ave,JC094,Hilltop,JC019,40.727551,-74.071061,40.731169,-74.057574,member

In [9]:
# print column headers
column_headers = df23.columns.values.tolist()
print("Column Headers:", column_headers)

Column Headers: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']

In [11]:
# Save the dataframe to a csv 
df23.to_csv('Resources\citibike_last3months.csv', index=False)

In [12]:
row_count = len(df23)

print(f'The DataFrame has {row_count} rows.')

The DataFrame has 267463 rows.